/* Replace Logo with streamberry logo, this should be the last line in CSS */
:root {
    --logo: url("https://cdn.jsdelivr.net/gh/Ettoes09/jelyfin-css/https://github.com/Ettoes09/Jellyfin-css/blob/e82f53796b5769f741bc9e81880ada89bc14b04e/sayfelix.png");
}

.pageTitleWithDefaultLogo {
    background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
    width: 130px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 50% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}
