/* Replace Logo with streamberry logo, this should be the last line in CSS */
:root {
    --logo: url("https://github.com/Ettoes09/Jellyfin-css/blob/main/ChatGPT%20Image%20Apr%2012%2C%202026%2C%2007_38_37%20PM.png");
}

.pageTitleWithDefaultLogo {
    background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
    width: 130px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 50% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}
